body {
    background-color: darkslategrey;
    color: whitesmoke;
    text-shadow: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
    border-radius: 5%;
}