<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ game_name }} - Rock, Paper, Scissors</title>
</head>
<body>
    <header>
        <section>
            <h1>Welcome to Rock, Paper, Scissors!</h1>
        </section>
    </header>
    <section>
        <img src="https://i.gifer.com/37on.gif" alt="Rock" class="photos">
        <img src="https://media1.tenor.com/images/ff27fc1efc23a95924c26e92dccd93a8/tenor.gif?itemid=3931527" alt="Paper" class="photos">
        <img src="https://media.giphy.com/media/l0O5Arnbs1a2mH7pe/giphy.gif" alt="Scissors" class="photos">
    </section>
    {% block content %}
    
    {% endblock %}

</body>
</html>