{% extends "base.html" %}

{% block content %}
<h1>Welcome to Rock, Paper, Scissors!</h1>

<form action="/take-turn" method="post" class="form">
    <label for="rock">Rock</label>
    <input type="image" src="https://i.gifer.com/37on.gif" alt="Rock" class="photos" id="rock" value="rock"><br><br>
    <label for="paper">Paper</label>    
    <input type="image" src="https://media1.tenor.com/images/ff27fc1efc23a95924c26e92dccd93a8/tenor.gif?itemid=3931527" alt="Paper" class="photos" id="paper" value="paper"><br><br>
    <label for="scissors">Scissors</label>   
    <input type="image" src="https://media.giphy.com/media/l0O5Arnbs1a2mH7pe/giphy.gif" alt="Scissors" class="photos" id="scissors" value="scissors">     
</form>



{% endblock %}