{% extends "base.html" %}

{% block content %}

<h1>Welcome to Rock, Paper, Scissors!</h1><br><br>

<form action="/play" method="post" class="form">
        <input type="image" src="https://i.gifer.com/37on.gif" alt="Rock" class="photos" id="rock">
            <label for="rock">Rock</label><br><br>
        <input type="image" src="https://media1.tenor.com/images/ff27fc1efc23a95924c26e92dccd93a8/tenor.gif?itemid=3931527" alt="Paper" class="photos" id="paper">
            <label for="rock">Paper</label><br><br>
        <input type="image" src="https://media.giphy.com/media/l0O5Arnbs1a2mH7pe/giphy.gif" alt="Scissors" class="photos" id="scissors">
            <label for="scissors">Scissors</label><br><br>
</form>




{% endblock %}